/* sideBar.css */

/* Styles pour le conteneur principal */
.container {
  overflow: hidden;
  position: relative;
}

/* Styles pour la barre de navigation latérale */
.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 7.3125rem;
  height: 100vh;
  background: #020203;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
}

/* Styles pour le wrapper contenant les icônes */
.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;
  left: 1.4rem;
}

/* Styles pour les liens */
.wrapper a {
  display: flex;
  height: 4rem;
  width: 4rem;
  margin-bottom: 1.25rem;
}

/* Styles pour le texte vertical */
.navText {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  position: absolute;
  bottom: 3rem;
  left: 2.625rem;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: white;
  margin: auto;
}

/* Styles pour les liens NavLink */
.wrapper .navLink {
  transition: transform 0.3s;
  width: 4rem;
  height: 4rem;
}

.navLink:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1024px) {
  .wrapper {
    top: 20%;
  }
}
