.userProfilTitle {
  margin: 9rem 0rem 1rem 0rem;
  font-weight: 500;
  font-size: 3rem;
}

.redText {
  color: red;
}

.subTitle {
  font-size: 1.125rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 1024px) {
  .userProfilTitle {
    margin: 6.8rem 0rem 0.8rem 0rem;
  }

  .subTitle {
    margin-bottom: 1.2rem;
  }
}
