* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 0.5rem;
}

/* Styles communs à Home.js et User.js */
.mainContainer {
  width: 90rem;
  margin: auto;
  margin-left: 29rem;
}

/* Styles spécifiques aux liens de Home.js */
.mainContainer a {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  color: red;
  width: 5rem;
}

.mainContainer a:hover {
  color: black;
}

/* Styles spécifiques à Home.js */
.homeTitle {
  margin: 4rem 0rem;
}

/* Styles spécifiques à User.js */
.userContentContainer {
  display: flex;
}

.userCustomContainer {
  width: 67.6%;
  display: flex;
  gap: 2rem;
  margin-top: -18.7rem;
}

@media screen and (max-width: 1024px) {
  .mainContainer {
    width: 52rem;
    margin-left: 10rem;
  }

  .averageSessionContainer,
  .performanceContainerStyle,
  .userScoreContainer {
    width: 200px;
    height: 200px;
  }

  .userCustomContainer {
    margin-top: -13.86rem;
    gap: 0.8rem;
  }
}
